.form-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

@media (max-width: 700px) {
  .form-container {
    transform: none;
    margin-top: 2rem;
    top: 25%;
    left: 0%;
    right: 0%
  }

  .Toastify__toast-body {
    font-size: 25px;
  }

  label {
    font-size: 15px;
  }

  .modal-container {
    grid-template-columns: 1fr;
  }
}